
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
.heading-primary {
    font-family: 'Montserrat', sans-serif;
    color: $color-primary-middle;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}